langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-qdrant
langchain-ollama

llama-index

sentence-transformers
transformers
torch

qdrant-client

streamlit

pypdf
rank-bm25